@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Roboto", serif;
}

::selection {
    background: rgb(247, 247, 15);
    /* selection highlight color */
    color: black;
    /* text color while selected */
}

::-moz-selection {
    background: rgb(97, 97, 5);
    color: black;
}